.toolbar-bottom-adds{
  display: block;
}
#menuLeft{
  height: 685px !important;
  padding-top: 0px !important;
}
#show-bottom-add {
  top: 45%;
}
#menuLeft .toolbar-bottom-adds {
  left: 80% !important;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;  
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #fff;
}

#home_cocityPrez-slider:hover .left-control {
  left:52px
} 

#home_cocityPrez-slider:hover .right-control {
  right:30px
}

#home_cocityPrez-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}
#home_cocityPrez-slider {
  overflow: hidden;
  position: relative;
}

#home_cocityPrez-slider .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#home_cocityPrez-slider .caption h1 {

  text-transform: uppercase;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border: 1px solid #6e6d6c;
  border-radius: 4px;
  margin-top: 40px;
}

.caption .btn-start:hover {
  color: #fff
}



.apropos {
  margin-bottom: 5%;
  box-shadow: 0px 0px 20px #8ABF32;
}
.apropos h1 {
  font-family: "lato";
  margin-top: 5%;
  color: #005E6F;
}
.apropos p{
  font-family: "lato";
  margin-bottom: 5%;
}
.main-container {
  background :url(<?php echo Yii::app()->getModule("costum")->assetsUrl; ?>/images/cocity/photo/bg_ville.png );
  padding-top: 2px !important;
  margin-bottom: 5%;
}
.cocityActif h1 {
  font-family: "lato";
  color: #005E6F;
}
@media (max-width: 978px) {
  #home_cocityPrez form {
    width: 100%;
    max-width: 500px;
    padding-top: 3%;
    margin-left: 0%;
  }
  #home_cocityPrez form .inner-form {
    height: 40px;
  }
}
s