#vertical #mainNav #menuTopLeft{
	width: 49%;
    text-align: right;
    padding-top: 10px;
    padding-right: 110px;
}

#vertical #mainNav #menuTopRight{
	width: 49%;
	padding-left: 110px;
}
#vertical #mainNav {
	opacity: 0.7;
}

.header-logo img {
    margin-top: 20px;
}
.openListTpls{
    z-index: 100002;
  }

div[data-path="tpls.blockCms.header.bannerAvecTitre"]{
	top: -65px!important;
}

@media (max-width: 1399px){
	/*.header-logo img {
	    margin-top: 50px;
	}*/
	#vertical #mainNav #menuTopLeft{
	    padding-right: 100px;
	}
	#vertical #mainNav #menuTopRight{
		padding-left: 100px;
	}
}


#ajax-modal.portfolio-modal.modal {
    z-index: 100003;
}
.block-parent .header-logo {
    z-index: 100000;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
}

.text-italic {
	font-style: italic;
}

#menuJson {
    z-index: 100002!important;
}
@media (max-width: 767px){
	#vertical #mainNav {
	    z-index: 100002!important;
	    opacity: 0.9;
	}

}
.dropdown-menu-top {
	position: absolute;
    right: 15px;
    top: -5px;
}
@media (min-width: 768px){
	.openListTpls{
	    width: 80%;
	    margin-left: 10%;
	}
}
#mainNav #menuTopRight .btn-menu-connect {
    color: #fff !important;
}
#menuTopLeft .menu-xs-cplx {
	color: #fff !important;
}

.menu-xs-container {
    background: black;
}

#menuTopLeft a[href="#menuTopLeft"]{
	display: none;
}