#menuLeft {
    /*left: 28px; ca depend du largeur de l'ecran*/
    color: #2C3E50;
    box-shadow: none;
    border: none; 
}
#menuLeft a {
      background-color: #ddd;
  
}
#menuLeft > a:first-child{
    border-radius: 50% 50% 0px 0px;
}
#menuLeft > a:last-child{
    border-radius: 0px 0px 50% 50%; 
}

a.btn-menu-to-app {
    border-bottom: 2px solid #a7adb3;
}
a.btn-menu-to-app.active, a.btn-menu-to-app:hover, a.btn-menu-to-app:focus{
    border-bottom: 2px solid #9fbd38;
    color: #9fbd38!important;
}
#mainNav #menuTopRight{
    margin-top: 15px;
}
.menu-xs-container a {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 10px solid #9fbd38;
    background-color: white;
    color: #9fbd38;
}
.menu-xs-container a:hover {
    border-left: 13px solid  white;
    background-color:#9fbd38;
    color:  white !important;
}

.btn-menu-connect{
    background-color: #9fbd38!important;
    padding: 4px;
    padding-top: 4px!important;
    border: 2px solid #9fbd38;
    border-radius: 4px;
    color: #fff;
}
.btn-menu-connect:hover, .btn-menu-connect:active, .btn-menu-connect:focus{
    color: #9fbd38!important;
    border: 2px solid #9fbd38;
    background-color: #fff!important;
    box-shadow: 0 0 6px 0 #9fbd38 inset;
}
.container-filters-menu .searchBar-filters .input-group-addon {
    background-color: #9fbd38!important;
}
#filters-nav{
    right: 0px;
    text-align: center;
    padding-left: 0px;
    box-shadow: none;
    border-bottom: none;
}
#filters-nav > *{
    display: inline-grid;
    margin-left: 5px;
    margin-right: 5px;
}
#filters-nav .searchBar-filters{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 15px;
    display: inline-flex;
}
#activeFilters{
    margin:0px; 
    display: block;
    text-align: left;
}
#filters-nav #input-sec-search .input-global-search {
    border-color: #9fbd38!important;
}
#filters-nav .container-filters-menu #input-sec-search .input-group-addon {
    color: #9fbd38;
    border: 1px solid #9fbd38;
    border-right-width: 0px;
}
.filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu, #filters-nav .filters-btn {
    border: 1px solid #9fbd38!important;
}
.searchBar-filters .main-search-bar-addon, .searchBar-filters .main-search-bar {
    border: 1px solid #9fbd38!important;
}
#menuLeft .menu-button.btn-menu {
    width: 100%;
    font-size: 20px;
}
#menuLeft{
    width: 45px;
}
@media (max-width: 767px){
    .showHide {
        color: #9fbd38;
    }
    .showHide:hover, .showHide:active, .showHide:focus{
        background-color: #9fbd38;
        color: #fff;
    }
    .container-filters-menu .searchBar-filters {
        display: none!important;
    }
    #filterContainer .dropdown .dropdown-menu, #filters-nav .container-filters-menu .dropdown .dropdown-menu {
        border: 1px solid #9fbd38!important;
    }
    .searchBarInMenu #main-search-bar-addon{
        background-color: #9fbd38!important;
    }
    #filters-nav .container-filters-menu {
        border-top: 2px solid #9fbd38;
    }
   /* #vertical #mainNav {
        padding-left: 10px;
    }*/
    #mainNav #menuTopRight {
        margin-top: 5px!important;
    }
}

@media (min-width: 768px){
    #mainNav #menuTopRight{
        margin-top: 5px;
    }    
}
@media (max-width: 767px){
    #mainNav #menuTopLeft a img{
        height: 40px;
        margin-left: -10px;
    }
}

/**************************by jean***********************/
.searchEntityContainer.events .entityName h4 {
position: relative;
    padding: 10px 20px;
    margin: 1px 0px;
    margin-right: -30px;
    margin-left: -15px;
    line-height: 15px;
    font-weight: bold;
    color: #fff;
    background: #9fbd38;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    zoom: 1;
   border-left: 3px solid #63732b;
}
.searchEntityContainer.events .entityName h4 a{
    color:#fff;
}
.searchEntityContainer.events .entityName h4:after {
    content: "";
    position: absolute;
    /*z-index: -1;*/
    top: 100%;
    right: 0;
    border-width: 0 0px 10px 12px;
    border-style: solid;
    border-color: transparent  #63732b;
}

.searchEntityContainer.events ul.tag-list li {
  display:inline;
  color: #9fbd38;
  font-size: 85%;
  font-weight: bold;
}
.searchEntityContainer.events .btn-share-event,.searchEntityContainer .btn-event-participate{
  background-color: #9fbd38;
  color: white;
  float: right;
  margin-left:10px;
  margin-bottom: 10px;
}
.searchEntityContainer.events .btn-share-event:hover,.searchEntityContainer .btn-event-participate:hover{
  background-color: white;
  color: #9fbd38 !important;
  border:1px solid #9fbd38 ;
}
.searchEntityContainer.events .event-locality{
    display: block;
    color:#e6344d;
    margin-left: 5px
}
.searchEntityContainer.events .event-short-description::first-letter{
  font-size: 130%;
  text-transform: uppercase;
}
.searchEntityContainer.events .event-short-description{
    margin-bottom:0px;
    word-wrap: break-word;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2C3E50;
    margin-left:5px;

}
.searchEntityContainer.events .div-img{
    position: relative;
    width: 100%;
    height: 201px;
    border-radius: 10px
}
.searchEntityContainer.events .date-icon{
color: #ffa200;
float: left;
padding-top:5px;
margin-right: 5px
}
.searchEntityContainer.events .map-marker{
color:#e6344d;
font-weight: bold;
}
.searchEntityContainer.events .entityType{
color:#e6344d;
margin:0px;
}
.searchEntityContainer.events .container-img-profil .div-img i.fa {
    font-size: 117px;
    color: rgba(255, 255,255, 0.8);
    margin-top: 41px;
}
.searchEntityContainer.events .container-img-profil {
    border-radius: 5px
}

.searchEntityContainer.events .entityRight {
    margin-top: 10px;
    float:right;
    border-top: 0px solid rgba(0,0,0,0.2);
}

.bodySearchContainer .dayEvent .date{
    text-transform:inherit;
    padding-left:15px;
}

.bodySearchContainer .dayEvent {
    box-shadow: 0 2px 1px 0 rgb(63, 78, 88), 0 2px 0px 0 rgb(63, 78, 88);
}

.bodySearchContainer .dayEvent:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #2a3c4d;
    position: absolute;
    bottom: -15px;
    left: 6px;
    -ms-transform: rotate(20deg);
    transform: rotate(-90deg);
}
.smartgrid-slide-element .slide-hover .text-wrap .entityName a, .smartgrid-slide-element .text-wrap .entityName a {
  text-transform: none;
  color:#FFA200;
}


.searchEntityContainer.events .img-organizer{
    display: none !important;
    border:1px solid rgb(42, 60, 77);
}

.searchEntityContainer.events .orgenizedby:hover .img-organizer{
    display: inline !important;
}

.dateUpdated.dateUpdated-classified{
    top:0;
    right: 0;
}
.classifieds .tag-list .btn-tag{
    color: #fff;
    background-color: #2BB0C6;
    font-weight: bold;
}
.classifieds .entityName,.classifieds .entityName a{
    color: #fff!important;
}
.classifieds .entityRight .entityLocality,.classifieds .entityLocality{
    color:#fff !important;
    font-weight: bold;
    font-size: 13px !important;
    opacity: 1 !important;
    text-align: center;
}
.classifieds .entityLocality .fa-map-marker,.classifieds .entityContact .fa-phone{
    color:#2BB0C6 !important;
    font-weight: bold;
}
.classifieds .entityContact{
    color:#fff;
    font-weight: bold;
    text-align: center
}
.classifieds .entityType .type{
    text-transform: uppercase;
    color:#fff;
    font-weight: bold;
    text-align: center;
    font-size:11px;
}
.classifieds .entityType .subtype{
    color:#fff;
    font-weight: bold;
    text-align: center;
    font-size:11px;
}
.classifieds .entityPrice{
    text-align: center;
    color:#2BB0C6;
}

.classifieds .searchEntity .entityPrice{
    font-weight: bold;
    background-color: rgb(255,255,255,0);
    font-size: 17px;
    text-align: center;
    width: auto;
    margin: auto;
    border-radius: 10px;
}

.classifieds .slide-hover .entityPrice{
    font-weight: bold;
    background-color: rgb(255,255,255,0);
    padding: 3px 0px 3px 0px;
    font-size: 23px;
    text-align: center;
    width: auto;
    margin: auto;
    border-radius: 10px;
}
.classifieds .dateUpdated{
    top:0;
    right: 0;
}
.smartgrid-slide-element .btn-link-content .btn-link {
    color: #fff;
    background-color: #9fbd38;
    border: 1px solid #fff;
  }
.smartgrid-slide-element .btn-link-content .btn-link:hover{
    color: #9fbd38;
    background-color: #fff;
    border: 1px solid #9fbd38;
  }
.smartgrid-slide-element .btn-link-content .btn-default.disabled,.smartgrid-slide-element .btn-link-content .btn-link.active {
    color: #fff;
    background-color: #75901b;
    border: 1px solid #fff;
  }
.smartgrid-slide-element .searchEntity a.locality, .smartgrid-slide-element .slide-hover a.locality {
    color: #9fbd38;
}
.smartgrid-slide-element .slide-hover ul.tag-list span.btn-tag {
    color: #fff;
    background: #9fbd38;
}
.smartgrid-slide-element .slide-hover .entityLocality {
    color: #9fbd38;
}



/* style page about */

#pod-infoGeneral .profil-title-informations .text-nv-3, .about-section2 .tl-network {
   color: #9fbd38;
}
.about-section1 .pod-info-Description .text-nv-3 {
    color: #ff9800;
}
#pod-infoGeneral .card.features:before {
    background: #9fbd38;
}
.card-body .media .gradient-fill:before {
    background: #9fbd38;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-body .media .tag-list li a {
    border: 1px solid #9fbd38;
}
.card-body .media .tag-list li a .icon-before {
    color: #9fbd38;
}
#pod-infoGeneral .btn-update-ig, .about-section2 .btn-update-ig {
    color: #9fbd38;
    background-color: #fff;
    border-color: #9fbd38;
}
#pod-infoGeneral .btn-update-ig:hover, .about-section2 .btn-update-ig:hover{
    color: #fff;
    background-color: #9fbd38;
    border-color: #9fbd38;
}
.media-body .ttr-4 {
    color: #9fbd38;
}
.pod-info-Description .btn-update-descriptions, .pod-info-Address .btn-update-geopos {
    color: #ff9800;
    background-color: #fff;
    border-color: #ff9800;
}
.pod-info-Description .btn-update-descriptions:hover, .pod-info-Address .btn-update-geopos:hover {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
}
.about-section1 #pod-info-Description .line-hr{
    color: #ff9800;
}
#pod-info-Description .morelink {
    color: #ff9800;
}
.about-section2 .btn-network {
    border: 1px solid #93C020;
}
.about-section2 .btn-network::before {
    background: #93C020;
}


/*** About-xs avatar ***/
.about-section1 .about-avatar .fileupload-preview.thumbnail, .about-section1 .about-avatar .fileupload-new.thumbnail {
    border: 3px solid #93C020!important;
}
.about-section1 .net-well {
    border: 2px solid #9fbd38;
}
.about-section1 .about-avatar .user-image .user-image-buttons a.fileupload-new {
    border: 2px solid #9fbd38;
    color: #9fbd38;
}
.about-section1 .about-avatar .user-image .user-image-buttons a.fileupload-new:hover, .about-section1 .about-avatar .user-image .user-image-buttons a.fileupload-new:active, .about-section1 .about-avatar .user-image .user-image-buttons a.fileupload-new:focus {
    background-color: #9fbd38;
    color: #3f4e58;
}
.about-section1 #pod-infoGeneral .line-hr, .about-section2 .hr-net {
    color: #9fbd38;
}
.about-section1 .about-section1 .about-xs-completed .containInvitation a.lbh {
    color: #9fbd38;
}
.about-section1 .section-Community .collapse {
    border-top: 1px solid #93c02a;
}
.about-section1 .section-Community .number-Community {
    color: #9fbd38;
}

/********************** preview annonce ****************/
.contentOnePage .pricingTable-header {
    background: #2BB0C6;
}
.contentOnePage div h4 {
    background: #2BB0C6;
}
.contentOnePage .pricingTable-header .title {
    color: #3f4e58;
}
.ressourceStandalone .contentOnePage div h4 {
    background: #2BB0C6;
}
.contentOnePage .price .addres-prod {
    color: #ff9800;
}

/*Style banner Horizontale*/

.contentHeaderInformation .section-badges .dropdown-menu>li>a {
    color: #93C020 !important;
}
.contentHeaderInformation .section-badges .dropdown-menu>li>a:hover {
    background: #93C020 !important;
    color: white!important;
}
.contentHeaderInformation .tag-contain ul.tag-list li{
    border: 0px!important;
    padding-left: 1px!important;
    padding-right: 1px!important;
    background-color: transparent;
    color: #93C020;
}
.menuTopDesc .tag-contain ul.tag-list li {
    color: #93C020;
}

.place-align .link-circle, .menu-xs-container .link-circle{
    background-color: #9fbd38;
}
#menu-top-btn-group .link-circle:hover, .menu-xs-container .link-circle:hover {
    color: #9fbd38;
    border: 1px solid #9fbd38;
}

#menu-top-btn-group a.active .link-circle, .menu-xs-container a.active .link-circle {
    color: #9fbd38;
    border: 1px solid #9fbd38;
}
#menu-top-btn-group a.active .label-link, .menu-xs-container a.active .label-link {
    color: #9fbd38;
}
#menu-top-btn-group a:hover .label-link, .menu-xs-container a:hover .label-link {
    color: #9fbd38;
}

#menu-top-btn-group a:hover .link-circle , .menu-xs-container a:hover .link-circle {
    color: #9fbd38;
    border: 1px solid #9fbd38;
    transform: rotate(360deg);
}
#menu-top-btn-group .label-link:hover, .menu-xs-container .label-link:hover {
    color: #9fbd38;
}
@media (max-width: 767px){
    .pageContent #search-content {
        padding: 0px!important;
    }
}
#ajax-modal-modal-body label.control-label{
    color: #3f4e58;
}
#ajax-modal-modal-body label.control-label i {
    color: #9fbd38;
}