#menuLeft {
    /*left: 28px; ca depend du largeur de l'ecran*/
    color: #2C3E50;
    box-shadow: none;
    border: none; 
}

#mapOpal #menuRightmapOpal {
    position: absolute !important;
}

#menuLeft #show-bottom-add {
    width: 100%;
    height: 47px;
}

.show-map {
    padding-right: 12px;
    padding-left: 12px;
}

#mapOpal {
    display: none;
    height: 400px;
}

#menuLeft a {
      background-color: #ddd;
  
}
#menuLeft > a:first-child{
    border-radius: 50% 50% 0px 0px;
}
#menuLeft > a:last-child{
    border-radius: 0px 0px 50% 50%; 
}

a.btn-menu-to-app {
    border-bottom: 2px solid #a7adb3;
}
a.btn-menu-to-app.active, a.btn-menu-to-app:hover, a.btn-menu-to-app:focus{
    border-bottom: 2px solid #9fbd38;
    color: #9fbd38!important;
}
#mainNav #menuTopRight{
    margin-top: 15px;
}
.menu-xs-container a {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 10px solid #9fbd38;
    background-color: white;
    color: #9fbd38;
}
.menu-xs-container a:hover {
    border-left: 13px solid  white;
    background-color:#9fbd38;
    color:  white !important;
}

.btn-menu-connect{
    background-color: #9fbd38!important;
    padding: 4px;
    padding-top: 4px!important;
    border: 2px solid #9fbd38;
    border-radius: 4px;
    color: #fff;
}
.btn-menu-connect:hover, .btn-menu-connect:active, .btn-menu-connect:focus{
    color: #9fbd38!important;
    border: 2px solid #9fbd38;
    background-color: #fff!important;
    box-shadow: 0 0 6px 0 #9fbd38 inset;
}
.container-filters-menu .searchBar-filters .input-group-addon {
    background-color: #9fbd38!important;
}
#filters-nav #input-sec-search .input-global-search {
    border-color: #9fbd38!important;
}
#filters-nav .container-filters-menu #input-sec-search .input-group-addon {
    color: #9fbd38;
    border: 1px solid #9fbd38;
    border-right-width: 0px;
}
.filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu, #filters-nav .filters-btn {
    border: 1px solid #9fbd38!important;
}
.searchBar-filters .main-search-bar-addon, .searchBar-filters .main-search-bar {
    border: 1px solid #9fbd38!important;
}
@media (max-width: 767px){
    .showHide {
        color: #9fbd38;
    }
    .showHide:hover, .showHide:active, .showHide:focus{
        background-color: #9fbd38;
        color: #fff;
    }
    .container-filters-menu .searchBar-filters {
        display: none!important;
    }
    #filterContainer .dropdown .dropdown-menu, #filters-nav .container-filters-menu .dropdown .dropdown-menu {
        border: 1px solid #9fbd38!important;
    }
    .searchBarInMenu #main-search-bar-addon{
        background-color: #9fbd38!important;
    }
    #filters-nav .container-filters-menu {
        border-top: 2px solid #9fbd38;
    }
    #vertical #mainNav {
        padding-left: 10px;
    }
    #mainNav #menuTopRight {
        margin-top: 5px!important;
    }
}

@media (min-width: 768px){
    #mainNav #menuTopRight{
        margin-top: 5px;
    }    
}
@media (max-width: 767px){
    #mainNav #menuTopLeft a img{
        height: 40px;
        width: 40px;
        margin-left: -10px;
    }
}

#avance > p > img{
    width:4vw;
}

#Projet > p {
    position: absolute;
}

.schema {
    position: absolute;
    margin-left: -13.7vw;
    margin-top: -1vw;
    font-family: 'CoveredByYourGrace' !important;
    font-size:47px;
}

.numVal{
    font-size: 30px
}

.borderInv{
    border-bottom: 1px dashed white;
}

@media all and (max-width: 980px){
    #AssoLibre{
        margin-left:8vw;
    }

    .cbyg {
        font-size: 36px !important;
    }

    .schema {
        font-size:25px;
    }
}

.title-project {
    position: absolute;
    margin-top: -6vw;
    font-size: 5vw;
    font-family: 'CoveredByYourGrace' !important;
    left: 0;
}

.title-asso {
    color: #9ec72d;
    position: absolute;
    margin-top: -5vw;
    font-family: 'CoveredByYourGrace' !important;
    font-size: 5vw;
    left: 0;
}

.plus-m {
    width: 5vw;
}