#menu-top-btn-group, .menu-btn-follow{
	display: none;
}
#btnHeaderEditInfos{
	display: none;
}
/*
.central-section {
    width: 100%!important;
}
*/
.central-section {
    margin-top: 10px;
    padding-top: 5px!important;
}
.valueAbout{
	border-left: 1px solid #dbdbdb;
}
#shortDescriptionAbout{
	white-space: pre-line;
}

/*#descriptionAbout{
	padding-left : 10px;
}*/

.contentInformation{
	border-bottom: 1px solid #dbdbdb;
}
#ficheInfo{
	border:inherit !important;
}
.labelAbout span{
	width: 20px;
	padding-right: 5px;
	text-align: -moz-center;
	text-align: center;
	text-align: -webkit-center;
	float: left;
}
.labelAbout span i{
	font-size: 14px;
}
.panel-title{
	line-height:35px;
}

.md-preview{
	text-align:left;
	padding: 0px 10px;
}

.md-editor > textarea {
	padding: 10px;
}

.descriptiontextarea label{
	margin-left:10px;
}


@media (min-width: 1200px) {
	.no-ing{
		padding-left: 15px !important;
	}
}



.link-pacte{
	color: #428bca;
	font-size: 22px;
}
.link-pacte:hover, .link-pacte:active, .link-pacte:focus {
	color: #ffa200;
}
.font-detail{
	font-size: 16px;
}
.head-title-pact {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #5a2749;
}
.btn-add-pacte{
	color: #fff;
    background-color: #5a2749;
    border-color: #5a2749;
    /*padding-top: 2px;
	padding-bottom: 2px;*/
}
.btn-add-pacte:hover, .btn-add-pacte:active, .btn-add-pacte:focus{
	color: #5a2749;
    background-color: #fff;
    border-color: #5a2749;
}
hr.hr-pacte{
	margin-top: 0px;
	border-top: 1px solid;
	margin-bottom: 20px;
	float: left;
	width: 96%;
	margin-left: 2%;
	/*width: 99%;
	float: left;
	margin-top: 0px;
	display: block;*/
}
hr {
	border: double;
	border-color: #5a2749;
	display: block;
}
.margin-b-5 {
	margin-bottom: 5px;
}
.second-title{
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 20px;
}
.p-detail{
	font-size: 18px!important;
}

/*menu left*/

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #5a2749;
	font-size: 22px;
	font-weight: 600;
}

.margintop20 {
    margin-top:20px;
}

.nav-pills>li>a {
	border-radius: 0px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}


.nav-stacked>li+li {
	margin-top: 0px;
	margin-left: 0;
	border-bottom:1px solid #dadada;
	border-left:1px solid #dadada;
	border-right:1px solid #dadada;
}

.active2 {
    border-right:4px solid #5a2749;
}
@media (min-width: 768px){
	.col-sm-offset-3 {
	    margin-left: 0%!important;
	}
}

/*service*/
#services {}
#services .services-top {
    padding: 70px 0 50px;
}
#services .services-list {
    padding-top: 50px;
}
.services-list .service-block {
    margin-bottom: 25px;
}
.services-list .service-block .ico {
    font-size: 38px;
    float: left;
}
.services-list .service-block .text-block {
    margin-left: 58px;
}
.services-list .service-block .text-block .name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.services-list .service-block .text-block .info, .services-list .service-block .text-block .infoDesc {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    overflow-wrap: break-word;
	word-wrap: break-word;
}
.services-list .service-block .text-block .text {
    font-size: 12px;
    line-height: normal;
    font-weight: 300;
}
.highlight {
    color: #ffa200;
    font-weight:bold;
} 
/*our-team-main*/
.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #c6793d solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main .fluid-circle
{
	justify-content: center;
	display: inline-flex;

}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
	text-transform: none;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 15px 0 15px;
    text-align: center;
    background: #fff;
    transform: translate(-50%,-50%);
	
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

.fluid-circle {
    font-size: 25px;
    border-radius: 50%!important;
    color: #fff;
    width: 50px!important;
    height: 50px!important;
    /*position: absolute;*/
    background-color: #c6793d;
}

.fluid-circle i:before {
    line-height: 50px;
}

/*our-team-main*/

.section-second-title{
	width: 90%;
    justify-content: left;
    display: inline-flex;
    margin-left: 10%;
    margin-bottom: 15px;
}
.section-second-title i{
	font-size: 32px;
	color: #428bca;
}
.end-contract {
	width: 30%;
	margin: 0 auto!important;
}
.desc-network {
	padding-left: 50px;
	/*border-bottom: 1px dotted #428bca;
	padding: 10px 0px;*/
}
.mesureList, .suiviList{
	background-color: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
}
.mesureList ul.timeline {
    list-style-type: none;
    position: relative;
    margin-bottom: 0px!important;
}

.mesureList ul.timeline:before {
    content: ' ';
    background: #c6793d;
    display: inline-block;
    position: absolute;
    left: 25px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
.mesureList ul.timeline > li {
    /*margin: 20px 0;
    padding-left: 20px;*/
    float: none!important;
}
.mesureList ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ffa200;
    left: 14px;
    top: 15px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.infoDesc.activeMarkdown p, .infoDesc.activeMarkdown li{
    font-size: 16px !important;
}

.comment-box {
	margin: 15px !important;
    /*display: inline-flex;*/
}
/* CSS Test end */

.comment-box i , .btn-compte-rendu i {
    font-size: 30px;
    color: #c6793d;
}
.comment-box .media-left {
    padding-right: 10px;
    width: 45px;
}
.comment-box .media-body p {
    border: 1px solid #ffa200;
    padding: 10px;
    min-height: 150px;
    border-bottom-right-radius: 25px;
    font-size: 16px!important;
    border-bottom: 5px #ffa200 solid;

}
.comment-box .media-body .media p {
    margin-bottom: 0;
}
.comment-box .media-heading {
    background-color: #f5f5f5;
    border: 1px solid #ffa200;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
    border-top-left-radius: 25px;
}
.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #ffa200;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}
.title-mesure,.title-suivi{
	padding: 15px;
	font-size: 22px!important;
}
.title-mesure i,.title-suivi i{
	color: #ffa200;
}
.title-mesure,.title-suivi{
	cursor:pointer;
}
.underline {
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.2em #000;
  display: inline;
}
.underline--double {
  box-shadow:
    inset 0 -0.075em white,
    inset 0 -0.1em #ffa200,
    inset 0 -0.15em white,
    inset 0 -0.175em #ffa200;
}
.compte-rendu{
	padding: 15px;
}
.btn-compte-rendu{
	font-size: 20px;
	font-weight: 600;
}
.btn-compte-rendu:hover i, .btn-compte-rendu:active i, .btn-compte-rendu:focus i{
	color: #ffa200;
}
.btn-compte-rendu:hover, .btn-compte-rendu:active, .btn-compte-rendu:focus{
	color: #c6793d;
}
.pod-info-Description{
	margin-top: 60px;
}
.content-elue {
	border-radius: 5px;
	padding-bottom: 20px!important;
}
.contract-txt {
	padding-top: 15px;
    padding-bottom: 25px;
    text-align: left;
}
.editContract a {
	margin-top: 20px;
}

@media (max-width: 767px) {
	.btn-add-pacte{
		width: 100%;
	}
	.section-second-title{
		width: 100%;
	    justify-content: center;
	    margin-left: 0px;
	    display: inline-flex;
	    margin-bottom: 10px;
	}
	.section-second-title i {
	    font-size: 26px;
	}
	.editContract{
		text-align: center;
	}
	.editContract a {
		margin-top: 0px;
	}
	.contract-txt {
		padding-top: 15px;
	    padding-bottom: 20px;
	    text-align: center;
	    padding-left: 10px;
    	padding-right: 10px;
	}
}