.contentHeaderInformation{
	background: linear-gradient(transparent 0%, rgba(0,0,0,0.5) 22%); 
}

.text-gray{
	color: #8a8181;
}
.app-territoires .headerSearchContainer, .app-projects .headerSearchContainer{
	display: none;
}
.app-territoires .bodySearchContainer .searchEntityContainer .entityDescription,
.app-territoires .bodySearchContainer .searchEntityContainer .tagsContainer .tag[data-tag-value="cte"],
.app-territoires .bodySearchContainer .searchEntityContainer .tagsContainer .tag[data-tag-value="candidat"]
{
    display:none;
}
/*.app-projects .bodySearchContainer .searchEntity .entityCenter i.fa.fa-map-marker,*/ .searchEntityContainer.ficheAction .entityCenter i.fa.fa-map-marker{
	background-color: #8C5AA1 !important;

}

/*.app-projects .bodySearchContainer .searchEntity .entityCenter i.fa.fa-map-marker:before,*/ .searchEntityContainer.ficheAction .entityCenter i.fa.fa-map-marker:before {
    content: "\f0eb";
}
.searchEntity .container-img-profil{
	height: 175px;
    max-height: inherit;
    line-height: 175px;
}
.searchEntity .container-img-profil img.img-responsive{
	margin: auto;
    max-width: 100%;
    max-height: 175px;
    display: inline-block;
    float: inherit;
    width: initial;
}

.searchEntity .profil .entityCenter{
	position: absolute;
	right: 25px;
}
#menuRight .btn-show-map{
    text-rendering: inherit !important;
    display: block !important;
    position: fixed;
    right: 0px;
    margin: 0px !important;
    writing-mode: vertical-lr !important;
    text-orientation: mixed;
    top: 34%;
    text-align: center;
    transform: rotate(180deg);
    z-index: 10000000;
    background-color: #0095ff !important;
    height: 26% !important;
    width: 30px !important;
    border-radius: 0px 5px 5px 0px !important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 17px;
}
#menuRight .btn-show-map.forcedHide{
    display: none !important;
}
#menuRight .btn-show-map:hover{
   color: #0095ff !important;
   border:2px solid #0095ff !important;
   border-left-width:0px !important;
   background-color: white !important;
 
}
#affix-sub-menu .btn-show-filters, #affix-sub-menu .menu-btn-scope-filter{
    display: none !important;
}
#formCreateNewsTemp .create-survey{
    display: none;
}

.searchEntity {
    box-shadow: 0px 1px 7px 0px #d3d3d3;
}
.searchEntity .container-img-profil{
    background-color: white;
}
.searchEntity .container-img-profil i.fa {
    color: rgb(60, 86, 101);
}
#poi.forum #myCarousel{
    display: none;
}
.markdown ol, .markdown ul{
    padding-left: 15px;
    white-space: initial;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
.markdown ol li, .markdown ul li{
    font-size: 13px;
}
.badge-roles-ctenat{
    position: absolute;
    top: -3px;
    right: -4px;
    font-size: 20px;
    color: white;
    background: #5fad88;
    line-height: 20px;
    padding: 1px;
    border-radius: 3px;
}
.forum .auhtor-poi{
    display: none;
}
.menu-xs-container a{
    color:white !important; 
}

.menu-xs-container a > i{
    padding-right:10px; 
}
.menu-xs-container a > img{
    margin-left: -4px;
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 7px;
}
.menu-xs-container a:hover{
    border: 4px solid;
}
.menu-xs-container{
    background: #22252a;
}
.iconCtenatImage{
    padding: 10px;
}
#mainNav #menuTopRight .dropdown-menu-top div.dropdown-menu {
    top: 50px;
}
.slide-hover .entityLocality {
    color: #4896ff;
 }
 .headerSearchContainer{
    left: 0px !important;
    margin-bottom: 10px;
 }
 .saveTemplate{
    display: none;
 }
@media (max-width: 767px){
    #filters-nav {
        left: 0px !important; 
    }
    #mainNav #menuTopRight .btn-menu-connect{
        font-size: 14px !important;
    }
    #mainNav #menuTopRight .dropdown-menu-top {
        padding-top: 0px;
    }
    #mainNav #menuTopRight .menu-name-profil{
        margin-top: 0px;
    }
    #mainNav #menuTopRight{
        margin-top:5px;
    }
    #second-search-bar{
        border-radius: 0px;
    }
    .bodySearchContainer{
        padding-right: 15px;
    }
}
.social-main-container #open-select-create, .social-main-container .btn-open-form{ 
	display: none;
}
.social-main-container .btn-open-form[data-form-type='event']{ 
    display: block !important;
}
#central-container, .simulate-central-container {
    padding-top: 20px;
}
.smartgrid-slide-element .slide-hover .socialEntityBtnActions {
    display: none;
}
#breadcrumGallery .breadcrumAnchor[data-value='0'], #breadcrumGallery .breadcrumChevron[data-value='1']{
    display: none;
}
#menu-top-btn-group .element-xs-menu {
    z-index: 100;
}