  #bg-homepage{
    width: 100%;
    border-top: 1px solid #ccc; 
  }

  #openModal .modal-content .text-center{
    /*background-color: red;*/
    float: none;
    position: initial;
  }
  /* The Close Button */

    .close:hover,
    .close:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    } 
    .cursor-hand:hover,
    .cursor-hand:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
    #dragNdrop{
      cursor: move;
    }



    .header-block{
      background: #fff;
    }

    .cms-block-header .navbar {
      background-color: #fff;
      border: 1px solid #e7e7e7;
    }

    @media (min-width: 768px) {
      .cms-block-header .navbar {
        padding: 10px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 0px #000;
      }
      .cms-block-header .nav li {
        margin-top: 5px;
      }
    }

    .cms-block-header .nav {
      display: table;
      height: 50px;
      width: 100%;
    }

    .cms-block-header .nav li {
      display: inline-block;
      height: 50px;
      /*width: 16.666666667%;*/
      line-height: 50px;
      text-align: center;
      border-right: 1px solid #fff;
      white-space: nowrap;
    }
    .cms-block-header li a {
      color: #000;
      font-size: 14pt;
      border: 1px solid #e0e5ea;
    }

    @media (max-width: 767px) {
      .cms-block-header .nav li {
        display: block;
      }
      .cms-block-header #navbar-collapse-block .navbar-nav {
        margin: 10px 0px;
      }
    }


    #listBlockCMS .main-container {
     padding: 0px !important; 
   }
   .openListTpls{
    transition: width 9s ease-out 4s;
    border-radius: 0px;
  }
  .openListTpls:hover:before , .openListTpls:focus:before , .openListTpls:active:before  {
    content: '';
    font-family: Arial, Helvetica, sans-serif;
    transition: width 9s ease-out 4s;
  }


  #imagecmsmodal{
    z-index: 999999;
    background-color: #000000c7;
  }
  #imagecmsmodal .modal-dialog{
    text-align: center;
    width: 100%;
    top: 50px;
  }
  
  #listHeader{
    display: block !important;
  }

  @media (max-width: 500px){
    .modal-content .fieldsetmargin:before {
      width: 80%;
    }
    .modal-content .fieldsetpadding:before {}
    .modal-content .fieldsetmode:before {}
  }
  .handleDrag{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: move;
    padding: 5px;
    background: rgb(44 152 222);
    color: white;
    border-radius: 50%;
    z-index: 99999;
    width: 45px;
    height: 45px;
  }
   .handleDrag .fa-arrows{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
  
  /*.block-parent:hover .handleDrag{
      display: block;
  }*/
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }

  .modal-content .fieldset{
    border:1px solid grey ;
    margin: 15px 0 15px 0 ;
    padding: 15px 0px 15px 0 ; 
  }
  @media (max-width: 500px){
    .modal-content .fieldsetmargin:before {
      width: 80%;
    }
  }
  .modal-content .fieldsetmode .info{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 23px;
    background: red;
    color: white;
    border-bottom-left-radius: 14px;
    cursor: pointer;
  }
  .smartgrid-slide-element .img-back-card img {
    width: 100%;
    min-height: 250px !important;
  }
  .smartgrid-slide-element .img-back-card .div-img {
    position: relative;
    width: 100%;
    height: 250px;
    background: rgb(0,155,0,0,0.9);
}

/**************  CSS editTPL Btn by Nicoss *********************/

.content-btn-action {
    display: none;
    z-index: 10;
    position: absolute;
    top: 75px;
    right: 20px;
}
.block-parent:hover .content-btn-action, .block-parent:focus .content-btn-action  {
    display: block;
    z-index: 99999;
}
.material-button {
      position: relative;
      top: 0;
      z-index: 1;
      width: 45px;
      height: 45px;
      font-size: 22px;
      color: #fff;
      background: #2C98DE;
      border: none;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0,0,0,.275);
      outline: none;
      display: block;
  }
  .material-button-toggle {
      z-index: 3;
      width: 50px;
      height: 50px;
      margin: 0 auto;
  }
  .material-button-toggle span {
      -webkit-transform: none;
      transform:         none;
      -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
      transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
  }
  .material-button-toggle.open {
      -webkit-transform: scale(1.3,1.3);
      transform:         scale(1.3,1.3);
      -webkit-animation: toggleBtnAnim .175s;
      animation:         toggleBtnAnim .175s;
  }
  .material-button-toggle.open span {
      -webkit-transform: rotate(45deg);
      transform:         rotate(45deg);
      -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
      transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
  }

  #options {
    height: 40px;
  }
  .option {
      position: relative;
  }
  .option .option1,
  .option .option2,
  .option .option3 {
      filter: blur(5px);
      -webkit-filter: blur(30px);
      -webkit-transition: all .175s;
      transition:         all .175s;
  }
  .option .option1 {
      -webkit-transform: translate3d(50px,50px,0) scale(.8,.8);
      transform:         translate3d(50px,50px,0) scale(.8,.8);
  }
  .option .option2 {
      -webkit-transform: translate3d(0,50px,0) scale(.8,.8);
      transform:         translate3d(0,50px,0) scale(.8,.8);
  }
  .option .option3 {
      -webkit-transform: translate3d(-50px,50px,0) scale(.8,.8);
      transform:         translate3d(-50px,50px,0) scale(.8,.8);
  }
  .option.scale-on .option1, 
  .option.scale-on .option2,
  .option.scale-on .option3 {
      filter: blur(0);
      -webkit-filter: blur(0);
      -webkit-transform: none;
      transform:         none;
      -webkit-transition: all .175s;
      transition:         all .175s;
  }
  .option.scale-on .option2 {
      -webkit-transform: translateY(-28px) translateZ(0);
      transform:         translateY(-28px) translateZ(0);
      -webkit-transition: all .175s;
      transition:         all .175s;
  }

  @keyframes toggleBtnAnim {
      0% {
          -webkit-transform: scale(1,1);
          transform:         scale(1,1);
      }
      25% {
          -webkit-transform: scale(1.4,1.4);
          transform:         scale(1.4,1.4); 
      }
      75% {
          -webkit-transform: scale(1.2,1.2);
          transform:         scale(1.2,1.2);
      }
      100% {
          -webkit-transform: scale(1.3,1.3);
          transform:         scale(1.3,1.3);
      }
  }
  @-webkit-keyframes toggleBtnAnim {
      0% {
          -webkit-transform: scale(1,1);
          transform:         scale(1,1);
      }
      25% {
          -webkit-transform: scale(1.4,1.4);
          transform:         scale(1.4,1.4); 
      }
      75% {
          -webkit-transform: scale(1.2,1.2);
          transform:         scale(1.2,1.2);
      }
      100% {
          -webkit-transform: scale(1.3,1.3);
          transform:         scale(1.3,1.3);
      }
  }

/**************  End CSS editTPL Btn by Nicoss *********************/


/****************************begin tpls engine css******************/
   #listeTemplate .main-container {
    padding: 0px !important; 
  }
  .tpl-engine-btn-list a {
    color: #fff;
    text-decoration: none;
    font-family: 'Arial' !important;
  }
  .tpl-engine-btn-list {
    position: fixed;
    top:20%;
    left:0;
    z-index: 10;
    width: 10px;
  }
  .tpl-engine-btn-list ul {
    padding: 0px;
  }
  .tpl-engine-btn-list ul:hover li {
    margin-left: 0px;
    border:1px solid #1d3b58;
  }
  .tpl-engine-btn-list ul li {
    display: block;
    margin: 1px;
    background: #1d3b58;
    width: 245px;
    text-align: right;
    padding: 4px;
    margin-left: -206px;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .tpl-engine-btn-list ul li:hover {
    margin-left: 0px;
    background: rgba(255, 255, 255, 1);
    border:1px solid #1d3b58;
  }
  .tpl-engine-btn-list ul li:hover a {
    color: #000;
  }
  .tpl-engine-btn-list ul li:hover i {

    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .tpl-engine-btn-list ul li i {

    margin-left: 15px;
    padding-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .btn-pulse{
    box-shadow: 0 0 0 0 rgba(254, 76, 61, 0.9);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

  .whole-page {
    position: relative;
    z-index: 100000;
  }
  .filter-badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transform: translate(-50%,-50%)!important;
    position: absolute!important;
    top: 0!important;
    background-color: #ff9f11!important;
  }

  .bg-blur{
    backdrop-filter: blur(5px);
    padding: 20px;
  }
  .block-parent .bg-support{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255,255,255,0.9);
    color: #040404;
    padding: 0 10px;
    border-bottom-left-radius: 7px;
  }
/****************************end tpls engine csssssssss********************/

/****image picker ************/
 .blockCmsBgPaintselect{
  overflow : scroll !important;
  height: 450px !important;
  position : relative !important;
}

.blockCmsBgPaintselect label,#blockCmsBgPaint{
  display: none;
}
/************block cms line separator*******/
  .blockCmsLineSeparatorIconuploader{
    height: 0;
    visibility: hidden;
    width: 100% !important;
    -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  }
  .fieldsetblockCmsLineSeparator:hover .blockCmsLineSeparatorIconuploader{
    height: auto;
    visibility: visible;
     opacity: 1;
  }

  .fieldsetblockCmsUnderline div[class^="blockCmsUnderlineWidth"],
  .fieldsetblockCmsUnderline div[class^="blockCmsUnderlineHeight"],
  .fieldsetblockCmsUnderline div[class^="blockCmsUnderlineSpace"],
  .fieldsetblockCmsUnderline div[class^="blockCmsUnderlineMargeBottom"]
  {
    display: none;
  }
    .fieldsetblockCmsUnderline:hover div[class^="blockCmsUnderlineWidth"],
  .fieldsetblockCmsUnderline:hover div[class^="blockCmsUnderlineHeight"],
  .fieldsetblockCmsUnderline:hover div[class^="blockCmsUnderlineSpace"],
  .fieldsetblockCmsUnderline:hover div[class^="blockCmsUnderlineMargeBottom"]
  {
    display: block;
  }
  /*@media(max-width: 450px){
    .block-parent [class*='col-'] {
        padding-right:0 ;
        padding-left:0 ;
    }
  }*/