.logo-footer{
    width: 10%;
    margin-left: 2%;
}
.afooter{
    font-size: 0.8vw;
}
.logofooter{
    width: 11%;
}
.nameMenuTop {
    display: none;
    text-decoration : none;

}

.tooltips-menu-btn{
    display : none !important;
}

#menuTopCenter:hover .lbh-menu-app i {
	margin: 0px 28px;
}