#filterContainer{
    margin-top:20px;
    margin-bottom: 10px;
}
#filters-nav{
    padding-top: 0px !important;
    padding-left: 0px;
    box-shadow: 0px 1px 2px 1px rgba(100, 100, 100, 0.4);
}
.central-section .central-container #filterContainer{
    margin-top: 0px;
}
#filterContainer .dropdown , #filters-nav .dropdown{
    /* height: 57px; */
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    float: left;
}

#filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu, #filters-nav .filters-btn{
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #3253a0 !important;
    color: #3253a0 !important;
    top: 0px;
    position: relative;
    border-radius: 20px;
    text-decoration: none;
    background: white;
    line-height: 20px;
    display: inline-block;
    margin-left: 5px;
}

#filterContainer .dropdown .dropdown-menu, #filters-nav .dropdown .dropdown-menu{
    position: absolute;
    overflow-y: visible !important;
    top: 50px;
    left: 5px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #3253a0 !important;
    padding:0px; 
}

#filters-nav .dropdown-menu-complexe{
    position: relative;
    background-color: white;
    color: grey;
    margin-top: 3%;
}

 #filters-nav .dropdown .dropdown-menu {
    position: absolute;
    overflow-y: visible !important;
    top: 50px;
    left: 5px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #38bbbc;
    padding: 0px;
}

#filters-nav .dropdown-menu-complexe .list-filters .button-complexeSelectList{
    background: transparent;
    border: transparent;
}

#filters-nav .dropdown-menu-complexe .first-level{
    font-size: 22px;
    background: transparent;
    border: transparent;
}

#filters-container .dropdown-menu-complexe , #filters-nav .dropdown-menu-complexe{
    border-radius: 5px;
    border: 1px solid #3253a0 !important;
    padding:10px; 
}

#filters-nav .dropdown-menu-complexe .list-filters .button-complexeSelectList-subsub{
    background: transparent;
    border: transparent;
}

#filters-nav .dropdown-menu-complexe .list-filters .subsub{
    display: grid;
    font-size: 14px;
}

#filters-nav .dropdown-menu-complexe .list-filters .button-complexeSelectList-subsub:hover{
    background-color : grey;
    color: white;
}

#filters-nav .dropdown-menu-complexe .list-filters .button-complexeSelectList:hover{
    background-color : grey;
    color: white;
}

#filterContainer .dropdown .dropdown-menu, #filters-nav .dropdown .dropdown-menu{
    position: absolute;
    overflow-y: visible !important;
    top: 50px;
    left: 5px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #3253a0 !important;
    padding:0px; 
}

#filterContainer .dropdown .dropdown-menu:before , #filters-nav .dropdown .dropdown-menu:before,
#filterContainer .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:before,
#costum-scope-search .dropdown-result-global-search:after{
    bottom: 100%;
    left: 20px;
    margin-top: -20px;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    border-width: 11px;
    position: absolute;
}

#filterContainer .dropdown .dropdown-menu-complexe:before , #filters-nav .dropdown .dropdown-menu-complexe:before,
#filterContainer .dropdown .dropdown-menu-complexe:after, #filters-nav .dropdown .dropdown-menu-complexe:after{
    bottom: 100%;
    left: 20px;
    margin-top: -20px;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    border-width: 11px;
    position: absolute;
}

#filterContainer .dropdown .dropdown-menu:before, #filters-nav .dropdown .dropdown-menu:before,
#costum-scope-search .dropdown-result-global-search:before{
    border-bottom-color: grey;
    border-width: 12px;
    left: 19px;
}

#filterContainer .dropdown .dropdown-menu-complexe:before, #filters-nav .dropdown .dropdown-menu-complexe:before{
    border-bottom-color: grey;
    border-width: 12px;
    left: 19px;
}


#filterContainer .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:after{
    border-bottom-color: white;
}

#filterContainer .dropdown .dropdown-menu .list-filters, #filters-nav .dropdown .dropdown-menu .list-filters{
    max-height: 300px;
    overflow-y: scroll;
}

#filterContainer .dropdown .dropdown-menu button, #filters-nav .dropdown .dropdown-menu button{
    border: none;
    background: white;
    /* width: 100%; */
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    padding: 10px 10px;
    padding-left: 15px;
}
#costum-scope-search .dropdown-result-global-search span, #costum-scope-search .dropdown-result-global-search i {
    color: #caa91a;
}
#filterContainer .dropdown .dropdown-menu button:hover, #filters-nav .dropdown .dropdown-menu button:hover{
    background-color: #e8e8e8;
}
#filterContainer .dropdown .dropdown-menu button.mainTitle, #filters-nav .dropdown .dropdown-menu button.mainTitle{
    font-weight: 800;
    padding-left: 10px;
}
#filterContainer #input-sec-search, #filters-nav #input-sec-search, .searchBar-filters input{
    display: grid;
    margin-bottom: 5px;
    float: left;
}

.searchBar-filters{
    margin-right: 5px;
}

.searchBar-filters .main-search-bar-addon, .searchBar-filters .main-search-bar{
    border-left: inherit;
    border: 1px solid #3253a0 !important;
}
.searchBar-filters .main-search-bar{
    margin-right: 0px;
    border-right: 0px solid !important;
}
#filterContainer #input-sec-search .input-group, #filters-nav #input-sec-search .input-group, .searchBar-filters{
    display: inline-flex;
        height: 40px;
}
#filters-nav #input-sec-search .input-group-addon{
    height: 40px;
}
#filterContainer #input-sec-search .input-group-addon, .searchBar-filters .input-group-addon{
    padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #3253a0 !important;
    margin-top: 5px;
    text-align: center;
    background-color: white !important;
    border-right-width: 0px;
    border: 1px solid #3253a0 !important;
    border-radius: 0px 20px 20px 0px;
    border-right-width: 0px;
    width: 30px;
}
#filters-nav #input-sec-search .input-group-addon {
    padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #3253a0 !important;
    margin-top: 5px;
    text-align: center;
    background-color: white !important;
    border-right-width: 0px;
    border: 1px solid #3253a0 !important;
    border-radius: 20px 0px 0px 20px;
    border-right-width: 0px;
    width: 37px !important;
}
#filterContainer #input-sec-search .input-global-search, .searchBar-filters .search-bar{
    border-left-width: 0px;
    height: 40px;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: none;
    width: inherit;
    border-color: #3253a0 !important;
}
#filters-nav #input-sec-search .input-global-search{
    border-left-width: 0px;
    height: 40px;
    margin-top: 5px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: none;
    width: inherit;
    border-color: #3253a0 !important;
}

.searchBar-filters .main-search-bar-addon{
    width: 15%;
    height: 40px;
    background-color: #dadada!important;
    font-size: 14px;
    padding: 12px 7px;
}
#activeFilters .filters-activate{
    border: 2px solid transparent;
    background-color: #50b796;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
    display: inline-block;
}
#activeFilters .filters-activate i{
    margin-right: 3px;
}
#filterContainer .labelFilterTit, #filters-nav .labelFilterTit{
    line-height: 45px;
    font-size: 20px;
    margin-right: 15px;
}
#costum-scope-search .dropdown-result-global-search{
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: white;
    border: 1px solid #3253a0 !important;
    max-height: none !important;
    border-radius: 3px;
}
.list-filters button .label-filter{
    line-height: 21px;
    vertical-align: bottom;
}
#costum-scope-search .dropdown-result-global-search .content-result{
    height: 390px;
    overflow-y: overlay;
}
.headerSearchContainer .headerSearchleft{
    display: flex;
}
#filters-nav{
    right: 0px;
    padding-left: 0px;
    box-shadow: none;
    border-bottom: none;
}
@media (min-width: 768px){
    #filters-nav > *{
        display: inline-grid;
        /*margin-left: 5px;*/
        margin-right: 5px;
    }
}
#filters-nav .searchBar-filters{
    display: inline-flex;
}
#activeFilters{
    margin:0px; 
    display: block;
    text-align: left;
}

@media (max-width: 768px){
    #filterContainer .dropdown, #filters-nav .dropdown, 
    #filterContainer #input-sec-search, #filters-nav #input-sec-search, 
    #filterContainer #input-sec-search .input-global-search, #filters-nav #input-sec-search .input-global-search{
        width: 100%;
    }
}

#filters-nav{
    padding-top: 10px
}

/*  Nicoss  */

.container-filters-menu {
    /*background-color: #FF286B;*/
    padding: 0px 10px;
    margin: 0px;
    display: inline-block;
    width: 100%;
}
#filters-nav {
    padding: 0px;
}

@media (max-width: 767px){
    #filterContainer .dropdown, #filters-nav .dropdown, 
    #filterContainer #input-sec-search, #filters-nav #input-sec-search, 
    #filterContainer #input-sec-search .input-global-search, #filters-nav #input-sec-search .input-global-search{
        width: 100%;
    }

    #filters-nav .container-filters-menu {
    background-color: #fff;
    text-align: center;
    width: 90%;
    margin-right: 10%;
    overflow-y: scroll;
    bottom: 0px;
    position: fixed;
    top: 101px;
    left: 0px;
    padding: 15px;
    margin: 0px;
    display: none;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.6)
    }
    .showHide{
        font-size: 20px;
        /*color: #FF286B;*/
        position: fixed;
        left: 0px;
        border: none;
        width: 43px;
    }
    .searchBarInMenu {
        width: 100%;
        padding-left: 44px;
    }


    #main-search-bar-addon, #second-search-bar-addon, #main-search-xs-bar-addon, #second-search-xs-bar-addon {
        width: 15%;
    }
    #main-search-bar, #main-search-xs-bar, #second-search-xs-bar {
        width: 85%;
    }

    #filterContainer .dropdown .dropdown-menu, #filters-nav .container-filters-menu .dropdown .dropdown-menu {
        /*overflow-y: hidden!important;*/
        position: relative!important;
        top: -2px;
        /*top: 40px;*/
        width: 100%;
        border-radius: 2px;
        border: 1px solid #3253a0 !important;
        left: 0px;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.6);
    }
    #filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu {
        border-radius: 4px;
    }
    #filters-nav .container-filters-menu #input-sec-search .input-global-search {
        border-radius: 0px 4px 4px 0px;
    }
    #filters-nav .container-filters-menu #input-sec-search .input-group-addon {
        border-radius: 4px 0px 0px 4px!important;
    }
}

#filters-nav{
    padding-top: 10px
}

@media (max-width: 768px){
    
    #filterContainer .dropdown, #filters-nav .dropdown, #filterContainer #input-sec-search, #filters-nav #input-sec-search, #filterContainer #input-sec-search .input-global-search, #filters-nav #input-sec-search .input-global-search {
        width: 100%!important;
    }
}
#around-me-filters {
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    height: 40px;
     margin: 5px 5px 0px 5px;
    float: left;
}
#filterContainer .dropdown .dropdown-menu button, #filters-nav .dropdown .dropdown-menu button {
    border-bottom: solid;
}
#filters-nav .searchBar-filters {
    width: auto!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

@media (max-width: 768px){
    #filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu, #filters-nav .filters-btn {
        width: 100%;
        margin-left: 0px;
        border-radius: 4px;
    }
    #around-me-filters {
        border-radius: 4px;
    }
    #filters-nav > *{
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
}

#filters-nav .divSearchTheme{
    display: flex;
}
#filters-nav .btn-theme-start-search, #filters-nav .btn-theme-refresh {
    border: solid 1px !important;
    border-radius: 0px !important;
}

#filters-nav .btn-select-filliaire{
    border-color: transparent;
    text-transform: uppercase;
    border-radius:0px;
    text-transform: none !important;
    background-color: #F2F2F2;
    font-family: "montserrat";
    font-weight: 200 !important;
    font-size:12px;
}

#filters-nav .btn-select-filliaire:hover {
    background-color: #DADADA;
    border: 1px solid transparent;
}
