.label-menu, .nameMenu, .btn-menu-connect {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#menuTopLeft img {
	background: transparent !important;
}

.nameMenu{
	display: block;
	font-size: 11px;
	font-weight: bolder !important;
	text-transform: uppercase;
	text-decoration: none !important;
}

.menu-btn-top{
	text-align: center;
	margin-left: 4px;
	margin-right: 4px;
}

#menuTopLeft .lbh-menu-app .fa, #menuTopRight .lbh-menu-app .fa, .circle, .menu-btn-top .fa{
	padding: 0.5em;
	border: 2px solid #2C3E50;
	border-radius: 40px;
}

#menu-thumb-profil {
	box-shadow: 0px 0px 5px 5px #cccccc;
}

.dropdown-menu-top a.menu-button{
	background:transparent;
	padding: 0px !important;
}

.dropdown-menu-top a.menu-button i{
	padding-top: 12px !important;
}

.menu-name-profil, a.btn-menu-connect{
	margin-left: 40px;
	color: #777777;
	font-weight: bolder;
	background: #cce310 !important;
}

#mainNav .btn-menu-connect{
	height: auto;
	padding-bottom: 0px;
}

#mainNav .btn-menu-connect .fa{
	border:none;
}

#menuTopLeft .searchBarInMenu #second-search-bar-addon, #menuTopRight .searchBarInMenu #second-search-bar-addon{
	margin: 0px;
}

@media (max-width: 767.98px) {
	.lbh-menu-app .fa, .lbh-menu-app .fa, .circle, .menu-btn-top .fa{
		padding: 0.5em;
		border: 2px solid #2C3E50;
		border-radius: 40px;
		font-size: 10pt !important;
	}
}
