.fc-event-container .fc-event {
	background-color: #bda87d !important;
}
.fc button {
    height: 3.1em !important;
}
/*filters components*/
.searchBar-filters .search-bar {
    border-radius: 20px 0px 0px 20px;
    box-shadow: none !important;
    width: inherit !important;
    border: 2px solid #bda87d !important;
}
.searchBar-filters .main-search-bar-addon {
    width: 15%;
    height: 40px;
    background-color: #bda87d !important;
    font-size: 14px;
    padding: 12px 7px;
}
.searchObjCSS #input-sec-search .input-global-search {
    border-top: 2px solid #bda87d !important;
    border-right: 2px solid #bda87d !important;
    border-bottom: 2px solid #bda87d !important;
}
.searchObjCSS #input-sec-search .input-group-addon {
	border-top: 2px solid #bda87d !important;
    border-left: 2px solid #bda87d !important;
    border-bottom: 2px solid #bda87d !important;
}
.searchObjCSS .dropdown .btn-menu, .searchObjCSS .filters-btn {
    border: 2px solid #bda87d !important;
}
.searchObjCSS .btn-select-filliaire {
    color: #000 !important;
    background-color: #fff !important;
}
.searchObjCSS .btn-select-filliaire:hover {
    color: #bda87d !important;
    background-color: #fff !important;
}
.searchObjCSS .dropdown .dropdown-menu {
	border:none !important;
}
.searchObjCSS .dropdown .dropdown-menu button {
    background: #fff !important;
    font-weight: bold;
}
.divSearchTheme .btn-theme-start-search{
	color: #000 !important
}
.searchBar-filters .main-search-bar-addon{
	border : 0px !important;
}
.btn-show-onmap,.navbar-custom .btn-show-map, .main-container.vertical .btn-show-map,.main-container.horizontal .btn-show-map,.dayEvent   {
    background-color: #bda87d !important
}

.navbar-custom .btn-show-map:hover,.btn-show-onmap:hover,.main-container.vertical .btn-show-map:hover, .main-container.horizontal .btn-show-map:hover{
    background-color: #fff !important;
    color: #000 !important;
    border: 2px solid #bda87d !important;
}

.bodySearchContainer .dayEvent:before {
    border-right: 12px solid #bda87d !important;
}
/*end filters components*/