.text-red{
	color: #b85655 !important;
}
.text-dark{
	color: #393d40 !important;
}
.text-orange{
	color: #f4a040 !important;
}
.text-lightwhite{
	color: #e4dcac !important;
}
.bg-red{
background-color: #b85655 !important;
}
.bg-dark{
	background-color: #393d40 !important;
}
.bg-orange{
	background-color: #f4a040 !important;
}
#mainNav .menu-app-top {
    margin-top: 30px !important;
}
#mainNav .logo-menutop {
    border-radius: 25px;
    height: 100px !important;
    margin-left: 5px;
}

#mainNav #navbar{
	margin-top: 30px;
}
#mainNav{
	padding-bottom: 15px;
}