@import url('normalize.css');

body {
    font-family: 'Roboto', sans-serif; !important;
    font-weight: 400; !important;
    font-size: 14px; !important;
    color: #545454; !important;
    line-height: 22px; !important;
    /*overflow-y: hidden; !important;*/
    /*overflow-x: hidden; !important;*/
    -webkit-font-smoothing: antialiased; !important;
}


a.a-link{
    color: #545454; !important;
    text-decoration: none; !important;
    transition-duration: .2s; !important;
    -moz-transition-duration: .2s; !important;
    -webkit-transition-duration: .2s; !important;
    -o-transition-duration: .2s; !important;
}
a.a-link:hover {
    color: #000; !important;
}
::selection {
    color: #000;
    background: none repeat scroll 0 0 #ffb400;
}
::-moz-selection {
    color:#000;
    background: none repeat scroll 0 0 #ffb400;
}
* {
    outline: 0!important;
    -webkit-touch-callout: none; !important;
    -webkit-user-select: none; !important;
    -khtml-user-select: none; !important;
    -moz-user-select: none; !important;
    -ms-user-select: none; !important;
    user-select: none; !important;
    transition-timing-function: ease-out; !important;
    -moz-transition-timing-function: ease-out; !important;
    -webkit-transition-timing-function: ease-out; !important;
    -o-transition-timing-function: ease-out; !important;
}

img.a-img {
    -webkit-backface-visibility: hidden; !important;
    max-width: 100%; !important;
    height: auto; !important;
}
.a-flot-left {
    float: left; !important;
}
.a-flot-right {
    float: right; !important;
}

h1.a-h1 , h2.a-h2 , h3.a-h3 , h4.a-h4 , h5.a-h5 {
    font-weight: 400;  !important;
    font-family: 'Oswald', sans-serif;  !important;
    color: #000;  !important;
    text-transform: uppercase;  !important;
}

h1.a-h1 {
    font-style: italic;
    border-bottom: 1px solid rgba(126, 126, 126, 0.3); !important;
    padding: 35px 15px 15px 15px; !important;
    margin: 0px 20px 20px 20px; !important;
    position: relative; !important;
    font-size: 38px; !important;
}
h2.a-h2 {
    font-size: 45px; !important;
    margin: 0; !important;
    line-height: 45px; !important;
}
h2.a-h2 span {
    font-weight: 300; !important;
}
h3.a-h3 {
    font-size: 16px; !important;
    margin: 50px 0 10px; !important;
}
h4.a-h4 {
    font-size: 25px; !important;
    font-weight: 100; !important;
    line-height: 30px; !important;
    margin: 0; !important;
}
h5.a-h5 {
    font-size: 18px; !important;
}
.title-divider {
    width: 70px; !important;
    height: 5px; !important;
    background-color: #ffb400; !important;
    margin: 30px 0 50px 0 ; !important;
}
.full-divider {
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
    margin: 50px 0 0 0;
    clear: both;
}
.gray-bg {
    background-color: #f7f7f7
}
.white-bg {
    background-color: #FFFFF
}

.container-sub {
    width: 100%; !important;
    position: relative; !important;
    margin: 0 auto; !important;
}
 .a-col-3, .a-col-6 {
    float: left; !important;
    position: relative; !important;
}

.a-col-6 {
    width: 50% !important;
}
.a-col-3 {
    width: 25% !important;
}

.container-sub:after {
    content: "\0020"; !important;
    display: table; !important;
    height: 0; !important;
    clear: both; !important;
    visibility: hidden; !important;
}

.a-clearfix:before, .a-clearfix:after, .a-row:before, .a-row:after {
    content: '\0020';  !important;
    display: block;  !important;
    overflow: hidden;  !important;
    visibility: hidden;  !important;
    width: 0;  !important;
    height: 0;  !important;
}
.a-row:after, .a-clearfix:after {
    clear: both;  !important;
}
.a-row, .a-clearfix {
    zoom: 1;  !important;
}

.margin-bottom50 {
    margin-bottom: 50px
}
.margin-bottom40 {
    margin-bottom: 40px
}
.margin-bottom30 {
    margin-bottom: 30px
}
.margin-bottom20 {
    margin-bottom: 20px
}
.margin-bottom10 {
    margin-bottom: 10px
}
.margin-top50 {
    margin-top: 50px
}
.margin-top40 {
    margin-top: 40px
}
.margin-top30 {
    margin-top: 30px
}
.margin-top20 {
    margin-top: 20px
}
.margin-top10 {
    margin-top: 10px
}
.no-border-bottom{
    border-bottom: none !important;
}
.margin-right30 {
    margin-right: 30px;
}

.a-logo {
    text-align: center;
    margin: 30px 0 0;
}
.a-logo span {
    display: none
}
.a-logo img {
    width: auto;
    height: auto;
}

.a-menu {
    position: fixed;
    z-index: 100;
    color: #f8f8f8;
    background: #000000;
    width: 200px;
    left: 0px;
    top: 0px;
    height: 100%;
}
.a-menu nav {
    position: absolute;
    top: 250px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    width: 200px !important;
}
.a-menu nav a {
    display: block;
    padding: 13px 0;
    text-align: left;
    outline: none;
    margin: 0 30px;
    border-bottom: 1px solid #333333;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    text-transform: uppercase;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.a-menu nav a span.active {
    color: #ffb400;
    font-weight: 400
}
.a-menu nav a:hover {
    color: #ffb400;
    text-decoration: none;
}
.a-menu nav a span:nth-child(2) {
    display: block;
    color: #fff;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
    padding-top: 3px;
}
.a-menu-link {
    display: none
}


.content-scroller {
    position: absolute;
    left: 200px;
    right: 0px;
    overflow-x: scroll;
    overflow: hidden;
    height: 90%;
}

.content-wrapper {
    width: 7356px;
    position: absolute;
    height: 100%;
    overflow: hidden;
}
.content:last-child {
    width: 1720px;
    background-color: #000;
}
.a-content {
    width: 804px;
    overflow-y: scroll;
    height: 100%;
    float: left;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    transition: background 0.3s linear;
}
.content-active {
}
.a-content:hover .jspVerticalBar, .a-menu nav:hover .jspVerticalBar {
    opacity: 1;
}
.a-inner {
    padding: 70px;
}
.a-inner p {
    position: relative;
    padding: 0;
}
#introduction .a-inner p:first-of-type {
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    font-style: italic;
    color: #75838D;
    letter-spacing: 0px;
}
a.totop-link {
    bottom:5px;
    background:url(../images/go-to-top-arrow.jpg) left top no-repeat;
    cursor: pointer;
    display: none;
    width:34px;
    height:34px;
    position: fixed;
    z-index: 5;
    right: 5px;
    text-indent:-9999px;

}

.codrops-top {
    font-size: 10px;
    text-transform: uppercase;
}
.codrops-top a {
    position: fixed;
    z-index: 10000;
    padding: 4px 7px;
    letter-spacing: 1px;
    color: #aaa;
    text-shadow: 0px 1px 1px #fff;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 3px 3px;
}
.codrops-top a:nth-child(1) {
    right: auto;
    left: 210px;
}
.codrops-top a:nth-child(2) {
    right: 10px;
}

.introduction {
    position:relative;
}
.introduction img {
    z-index: -1;
    height: auto;
    width: 100%;
    float: left;
}
.introduction .owl-carousel {
    height: 100%;
}
.introduction .owl-carousel .owl-wrapper-outer {
    height: 100%;
}
.introduction .owl-carousel .owl-wrapper, .introduction .owl-carousel .owl-item {
    height: 100%;
}
.introduction .item {
    height: 100%;
}
.introduction h2 {
    border: none;
    color: #FFF;
    text-transform: uppercase;
    line-height: 50px;
    padding-bottom: 0;
    font-size: 45px;
    margin-bottom: 35px
}
.introduction .inner {
    margin: 47% 0 0 0;
    position:absolute;
    z-index:2;
}
.introduction span.title {
    border-bottom: 1px solid #7a7a7a;
    border-top: 1px solid #7a7a7a;
    color: #aeaeae;
    padding: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
}


.about .inner {
    width: 50%
}
.about img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0
}
.about-con {
    width: 100%
}
.about-con ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.about-con ul li {
    border-bottom: 1px solid #dfdfdf;
    padding: 12px 0;
}
.about-con ul li:first-child {
    padding: 0 0 12px 0
}
.about img.signature {
    position: inherit;
    top: auto;
    margin: 20px 0 0 0;
}


.skills {
}
.skill-list ul {
    margin: 0;
    padding: 0
}
.skill-list ul li {
    padding: 5px 0 0;
    list-style: none
}
.skills-con h4 {
    width: 65%;
}
.skill-list ul li:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 15px;
    margin: 0 5px 0 0
}
.skills-con .col-6:hover .chart .percent {
    font-size: 45px;
    color: #000;
    transition-duration: .1s;
    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
}


.progress2 {
    background: #d4d4d4;
    width: 86%;
    float: right;
    position: relative;
    top: 10px;
}
.progress2 div {
    background-color: #8f8f8f;
    height: 6px;
}
.progress2bar-main {
    position: relative;
    min-height: 35px
}
.progress2-value span {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    left: -93px;
    color: #000;
    top: -19px
}
.progress2-value span:after {
    content: "%";
    font-weight: 100
}
.progress2-bar-description {
    font-weight: 500;
    color: #000;
    margin: 0 0 0 90px;
    font-size: 14px;
}


.chart {
    position: relative;
    display: inline-block;
    width: 154px;
    height: 154px;
    text-align: center;
    border-radius: 50%;
    background-color: #FFF;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 21px 0 0 0;
    color: #ffb400;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}
.angular {
    margin-top: 100px;
}
.angular .chart {
    margin-top: 0;
}
.chart-text {
    margin: 30px 0 0 0
}
.chart-text p {
    margin: 10px 0 0 15px
}
.chart-text h4 {
    margin: 0 0 0 15px;
}

.experience-con .icon-block i {
    font-size: 60px;
    color: #ffb400;
    margin: 8px 0 0
}
.experience-con h5 {
    margin: 5px 0 7px 0
}
.experience-con span {
    font-size: 16px;
    color: #000;
}
.experience-con strong {
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 5px 0
}
.experience-details {
    float: left;
}
.experience-details i {
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.experience-details:hover i {
    font-size: 73px;
    color: #000;
}
.experience-details:hover .col-3 {
    width: 29%;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}


.education-con .icon-block i {
    font-size: 60px;
    color: #ffb400;
    margin: 8px 0 0
}
.education-con h5 {
    margin: 5px 0 7px 0
}
.education-con span {
    font-size: 16px;
    color: #000;
}
.education-con strong {
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 5px 0
}
.education-details {
    float: left
}
.education-details i {
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.education-details:hover i {
    font-size: 73px;
    color: #000;
}
.education-details:hover .col-3 {
    width: 29%;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}


.contact-details {
}
.contact-details i {
    font-size: 45px;
    color: #ffb400
}
.contact-details strong {
    color: #000;
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
}
.contact-text {
    display: block;
    float: left;
    margin: 18px 0 0;
    width: 100%;
}
.contact-details h3 {
    margin-top: 0
}
.contact-text:first-child {
    margin: 0
}
.contact-details .phone i {
    font-size: 40px
}
.contact-details .email i {
    font-size: 35px
}
.contact-text i {
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.contact-text:hover i {
    color: #000;
}
.contact-social i {
    color: #797979;
}
.contact-social a i {
    font-size: 25px;
    margin: 0 14px
}
.contact-social a:first-child i {
    margin: 0 15px 0 0
}
.contact-social i {
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.contact-social i:hover {
    color: #000;
}
.contact-form {
}
.contact-form h3 {
    font-size: 28px;
}


.introduction-end {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
.introduction-end-con {
    float: right;
    margin: 30% 0 0;
    width: 30%;
}
.introduction-end-con h3 {
    font-size: 55px;
    color: #FFF;
    line-height: 100px;
}
.introduction-end-con h3 strong {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 10px 0;
    color: #ffb400;
    font-weight: normal;
}
.introduction-end-con .rotate {
    font-weight: 300;
    color: #FFFFFF;
    font-size: 55px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 25px 0;
}



@media only screen and (max-device-width:768px)   {
    .introduction img {
        height:auto;
        width:auto;
    }
}
