section.intro{
    width: 100%;
    height: calc(100vh - 200px);
    border-radius: 20px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)), var(--bg-image);
    background-size: cover;
    position: relative;
}
section.intro::before{
    content: "";
    width: 150px;
    height: 200px;
    position: absolute;
    left: -4%;
    bottom: -50px;
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
}
section.intro::after{
    content: "";
    width: 150px;
    height: 100px;
    position: absolute;
    right: -4%;
    top: 70px;
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
}
@media only screen and (max-width: 767px){
    section.intro{
        height: 250px;
        border-radius: 5px;
    }
    section.intro::before, section.intro::after{
        display: none;
    }
}

section.intro .intro-content{
    text-align: center;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width: 767px){
    section.intro .intro-content{
        padding-top:25px;
    }
}
section.intro .intro-content h1{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 4em;
}

.waves {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    position: relative;
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
}
@media only screen and (max-width: 767px){
    .waves {
        font-size: 2em;
    }
}

.waves:after{
    content: attr(data-word);
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #00e5c1, #348ecc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: waves 2s ease-in-out infinite forwards;
}
@keyframes waves{
    0%, 100% {
        clip-path: polygon(0 66%, 11% 59%, 18% 51%, 26% 46%, 35% 41%, 48% 44%, 55% 54%, 63% 63%, 76% 60%, 82% 50%, 92% 48%, 100% 53%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 66%, 8% 74%, 17% 77%, 28% 70%, 35% 57%, 48% 44%, 56% 39%, 69% 41%, 75% 47%, 84% 60%, 92% 61%, 100% 53%, 100% 100%, 0% 100%);
    }
}

.intro-content .subtitle{
    color: white;
}
.search-bar{
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 70px;
    padding: 0px 20px;
    margin-top: 40px;
    z-index: 777;
    position: relative;
    top:0;
    transition: .5s;
}
@media only screen and (max-width: 767px){
    .search-bar .custom-select{
        width:130px !important;
    }
    .search-bar .custom-select-input{
        font-size: 16px !important;
    }
}
.search-bar.sticky{
    position: fixed;
    top: 70px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.1)
}
.search-bar.sticky .custom-select-input{
    font-size:16px;
}
.search-bar.sticky .custom-select{
    width: 180px !important;
}

.search-bar .btn-search{
    border: none;
    margin-left: 20px;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 70px;
    background-image: linear-gradient(to top, #00e5c1, #348ecc);
    color: white;
    transition: .3s;
}
.search-bar .btn-search:hover{
    background-image: linear-gradient(to top, #348ecc, #00e5c1 );
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}