
@font-face{
  font-family: "Sharp";
  src: url('../../font/assoKosasa/SharpSans-No1-Semibold.otf');
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 ,p {
  font-family: "Sharp"  !important;
  text-transform: none;
}
body {
  font-family:"Sharp"  !important;
}


@media (max-width: 978px) {

  .col-footer-ph{
    display: none;
  }
}
#bg-homepage{
    width: 100%;
    border-top: 1px solid #ccc;
  }
  #show-bottom-add {
    background-color: transparent !important;
    font-size: 50px !important;
    color: #098048 !important;
    padding-left: 10px !important;
    bottom: 1000px !important;
    margin-left: 2% !important;
}