.fa-search{
    display: none !important;
}

.fa-map{
    display: none !important;
}

.fa-bullhorn{
    display: none !important;
}

.toolbar-bottom-adds {
	display: none;
	left: 42px;
}

#menuBottom {
    z-index: 100000 !important;
}

.info{
    background: white;
    border: 1px silver solid;
    padding: 2%;
    box-shadow: 0px 0px 5px -2px #878786;
}

#participe{
    margin-top: -3%;
    padding : 5%;
}